In [ ]:
import pandas as p

:

In [2]:
data =p.read_excel("Canada.xlsx", sheet_name="Canada by Citizenship", skiprows=range(20), skipfooter=2)
# data =p.read_excel("Canada.xlsx",sheet_name="Canada by Citizenship")

In [10]:
data[:30]

,Country,Continent,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
5,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,268,295,184,106,76,62,61,39,70,45
6,Antigua and Barbuda,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,42,52,...,14,24,32,15,32,38,27,37,51,25
7,Argentina,Latin America and the Caribbean,South America,Developing regions,368,426,626,241,237,196,...,1591,1153,847,620,540,467,459,278,263,282
8,Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,147,224,218,198,205,267,252,236,258,207
9,Australia,Oceania,Australia and New Zealand,Developed regions,702,639,484,317,317,319,...,930,909,875,1033,1018,1018,933,851,982,1121
10,Austria,Europe,Western Europe,Developed regions,234,238,201,117,127,165,...,118,122,102,98,91,109,124,84,102,90
11,Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,230,359,236,203,125,165,209,138,161,57
12,Bahamas,Latin America and the Caribbean,Caribbean,Developing regions,26,23,38,12,21,28,...,13,14,18,23,30,27,25,40,60,55
13,Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,...,12,12,12,22,9,35,28,21,39,32
14,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
15,Barbados,Latin America and the Caribbean,Caribbean,Developing regions,372,376,299,244,265,285,...,90,111,97,130,134,125,121,97,132,97
16,Belarus,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,...,543,558,439,568,524,454,438,357,277,247
17,Belgium,Europe,Western Europe,Developed regions,511,540,519,297,183,181,...,411,400,302,363,335,358,363,332,402,379
18,Belize,Latin America and the Caribbean,Central America,Developing regions,16,27,13,21,37,26,...,25,37,24,28,48,38,39,36,34,53
19,Benin,Africa,Western Africa,Developing regions,2,5,4,3,4,3,...,112,95,116,183,205,238,290,284,391,397
20,Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,...,1,5,10,7,36,865,1464,1879,1075,487
21,Bolivia (Plurinational State of),Latin America and the Caribbean,South America,Developing regions,44,52,42,49,38,44,...,85,134,139,107,143,214,180,86,83,107
22,Bosnia and Herzegovina,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,188,211,217,209,182,156,168,140,121,119
23,Botswana,Africa,Southern Africa,Developing regions,10,1,3,3,7,4,...,9,7,11,8,28,15,42,53,64,76
24,Brazil,Latin America and the Caribbean,South America,Developing regions,211,220,192,139,145,130,...,917,969,1181,1746,2138,2509,2598,1508,1642,1714
25,Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,...,3,4,5,11,10,5,12,6,3,6
26,Bulgaria,Europe,Eastern Europe,Developed regions,24,20,12,33,11,24,...,2022,1738,1419,1172,994,784,556,365,451,512
27,Burkina Faso,Africa,Western Africa,Developing regions,2,1,3,2,3,2,...,97,91,147,136,139,162,186,144,269,322
28,Burundi,Africa,Eastern Africa,Developing regions,0,0,0,0,1,2,...,559,626,468,614,448,566,529,604,684,480
29,Cabo Verde,Africa,Western Africa,Developing regions,1,1,2,0,11,1,...,3,5,7,2,5,1,3,3,6,2

In [34]:
data.columns.values

array(['Country', 'Continent', 'RegName', 'DevName', 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013], dtype=object)

In [3]:
# Remove columns -  DEV REG AREA Type Coverage
data.drop(columns=['DEV', 'REG', 'AREA', 'Type', 'Coverage'],inplace=True)

In [7]:
data.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [4]:
# Rename columns - AreaName to Continent, OdName to Country
data.rename(columns={"AreaName" : "Continent", "OdName" : "Country"},inplace=True)

In [ ]:
# Display record of countries with 'G', P'
data[data['Country'].str.startswith('G')]['Country'].unique()

:

In [6]:
# Display record of countries with 'G', P'
data[data['Country'].str.endswith('G')]['Country'].unique()

array([], dtype=object)

In [7]:
# Display record of countries with 'G', P'
regex = "[GP]"
data[data['Country'].str.contains(regex)]['Country'].unique()

array(['Equatorial Guinea', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Papua New Guinea',
       'Saint Vincent and the Grenadines',
       'United Kingdom of Great Britain and Northern Ireland'],
      dtype=object)

In [9]:
# Find no. of countries which have immigration more than 10000 in year 2009
data[data[2009] > 10000].Country.count()

3

In [12]:
#Find top 5 countries in immigration count for years 2010 to end year
data.sort_values(list(range(2010,2014)),ascending=False).Country.head(5)

136                                          Philippines
79                                                 India
36                                                 China
183    United Kingdom of Great Britain and Northern I...
185                             United States of America
Name: Country, dtype: object

In [19]:
# Count no of unique Continents
data["Continent"].unique().size

6

In [20]:
# find the type column '1980'
type(data[1980])

pandas.core.series.Series

In [21]:
#Show data only from 1980 to 2013 without making changes to real data
data[ list( range(1980,2014) ) ]

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,16,39,39,47,71,340,496,741,828,1076,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,1,0,0,0,0,0,1,2,2,3,...,1450,1223,856,702,560,716,561,539,620,603
2,80,67,71,69,63,44,69,132,242,434,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,0,1,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,2,0,0,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192,1,2,1,6,0,18,7,12,7,18,...,124,161,140,122,133,128,211,160,174,217
193,11,17,11,7,16,9,15,23,44,68,...,56,91,77,71,64,60,102,69,46,59
194,72,114,102,44,32,29,43,68,99,187,...,1450,615,454,663,611,508,494,434,437,407

# 8 out of 10