In [1]:
import pandas as p

In [4]:
data = p.read_excel('MCA_2023_B3_B4.xlsx')

In [5]:
data.head() #initial values

,PROGRAM OF STUDY,SAP ID,ENROLL NO.,S. NO.,CANDIDATE'S NAME,COLLEGE EMAIL ID,SECTION,CONTACT,PERSONAL EMAIL ID,ALTERNATE CONTACT
0,Master of Computer Application (MCA),500123660.0,R271223081,1,ANANT KUMAR SHARMA,Anant.123660@stu.upes.ac.in,MCA-I-B3,6.377932e+09,NaN,NaN
1,Master of Computer Application (MCA),500124566.0,R271223082,2,ANSHUMAN SHUKLA,Anshuman.124566@stu.upes.ac.in,MCA-I-B3,8.416967e+09,NaN,NaN
2,Master of Computer Application (MCA),500124957.0,R271223083,3,KAPIL KHANDELWAL,Kapil.124957@stu.upes.ac.in,MCA-I-B3,NaN,NaN,NaN
3,Master of Computer Application (MCA),500125113.0,R271223084,4,ANIKET SINGH,Aniket.125113@stu.upes.ac.in,MCA-I-B3,9.935084e+09,NaN,NaN
4,Master of Computer Application (MCA),500122363.0,R271223085,5,ANSHUL KOTIYAL,Anshul.122363@stu.upes.ac.in,MCA-I-B3,9.456106e+09,NaN,8.273118e+09

In [6]:
data.tail() #end values

,PROGRAM OF STUDY,SAP ID,ENROLL NO.,S. NO.,CANDIDATE'S NAME,COLLEGE EMAIL ID,SECTION,CONTACT,PERSONAL EMAIL ID,ALTERNATE CONTACT
81,Master of computer Application(MCA),500126525.0,NaN,82,ADITYA GUPTA,aditya.126525@stu.upes.ac.in,NaN,9.027629e+09,NaN,NaN
82,Master of computer Application(MCA),NaN,NaN,83,DIVIYANSHU NAUTIYAL,NaN,NaN,8.077743e+09,NaN,NaN
83,Master of computer Application(MCA),NaN,NaN,84,ANWESHA SWARUP,NaN,NaN,9.793952e+09,NaN,NaN
84,Master of computer Application(MCA),500126237.0,NaN,85,ASHISH KUMAR,ashish.126237@stu.upes.ac.in,NaN,9.636760e+09,ashishk2802@gmail.com,NaN
85,NaN,NaN,NaN,86,VISHWAJEET NAUTIYAL,NaN,NaN,8.954207e+09,NaN,NaN

In [7]:
data.shape # columns and rows

(86, 10)

In [8]:
data.columns

Index(['PROGRAM OF STUDY', 'SAP ID', 'ENROLL NO.', 'S. NO.',
       'CANDIDATE'S NAME', 'COLLEGE EMAIL ID', 'SECTION', 'CONTACT',
       'PERSONAL EMAIL ID', 'ALTERNATE CONTACT'],
      dtype='object')

In [5]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
data.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [7]:
data.Generation

0      1
1      1
2      1
3      1
4      1
      ..
795    6
796    6
797    6
798    6
799    6
Name: Generation, Length: 800, dtype: int64

In [ ]:
data.Generation.unique()

In [ ]:
type(data.Generation)

In [ ]:
type(data)

In [ ]:
data.Legendary

In [ ]:
data.Legendary.unique()

In [ ]:
data['Type 1'].unique()

In [8]:
data['Type 1'].unique().size

18

In [1]:
data['Type 1'].unique().shape

NameError: name 'data' is not defined

In [9]:
data[['Type 1', 'HP']]

      Type 1  HP
0      Grass  45
1      Grass  60
2      Grass  80
3      Grass  80
4       Fire  39
..       ...  ..
795     Rock  50
796     Rock  50
797  Psychic  80
798  Psychic  80
799     Fire  80

[800 rows x 2 columns]

In [ ]:
data[['Type 1', 'Name']]

In [ ]:
data.iloc[500]

In [ ]:
data[500:451:-2]

In [ ]:
data[['Name', 'Type 2', 'Total', 'HP']].tail(20)

In [10]:
data.set_index('Name', inplace = True)

In [ ]:
data.loc['Pikachu']

In [12]:
data.iloc[2]

#                  3
Type 1         Grass
Type 2        Poison
Total            525
HP                80
Attack            82
Defense           83
Sp. Atk          100
Sp. Def          100
Speed             80
Generation         1
Legendary      False
Name: Venusaur, dtype: object

In [ ]:
data[data['HP']>200]

In [ ]:
data[data['Type 1'].str.startswith('F')]['Type 1'].unique()